#container {
    height: 50%;
    width: 100%;
    display: flex;
}

#container1 {
    height: 100%;
    width: 100%;
    display: flex;
}

#leftThing {
    width: 35%;
}

#middleThing {
    width: 35%;
}

#rightThing {
    width: 35%;
}
